@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Roboto+Mono&family=Share+Tech+Mono&display=swap');
:root {
    --darksienna: #49111C;
    --platinum: #E5E7E6;
    --ligthcoral: #F08080;
    --bluesaphire: #006989;
    --lightgoldenrod: #F2EFC7;
    --numcolor: #A4BAB7;
    --numhover: #E5E7E6;
    --opcolor: #BC8034;
    --ophover: #D5A021;
    --clearcolor: #66A182;
    --clearhover: #20FC8F;
}

#clear {grid-area: clear;}
#backspace {grid-area: backspace;}
#display {grid-area: display;}
#num1 {grid-area: num1;}
#num2 {grid-area: num2;}
#num3 {grid-area: num3;}
#num4 {grid-area: num4;}
#num5 {grid-area: num5;}
#num6 {grid-area: num6;}
#num7 {grid-area: num7;}
#num8 {grid-area: num8;}
#num9 {grid-area: num9;}
#num0 {grid-area: num0;}
#num-dot {grid-area: num-dot;}
#op-dvs {grid-area: op-dvs;}
#op-mult {grid-area: op-mult;}
#op-sub {grid-area: op-sub;}
#op-sum {grid-area: op-sum;}
#equal {grid-area: equal}

body {
    background-color: var(--darksienna);
}

h1 {
    font-family: 'Azeret Mono', monospace;
    color: var(--ligthcoral);
    text-align: center;
}

#calc-wrapper {
    display: grid;
    grid-template-areas: 
        "clear display display display backspace" 
        "num7 num8 num9 op-dvs ." 
        "num4 num5 num6 op-mult ." 
        "num1 num2 num3 op-sub ." 
        "num0 num-dot equal op-sum .";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    width: 40vw;
    max-height: 640px;
    margin: auto;
    gap: 5px;
}

#display {
    font-family: 'Share Tech Mono', monospace;
    background-color: var(--lightgoldenrod);
    color: var(--bluesaphire);
    font-size: 1.375rem;
    font-size: clamp(1.375rem, 0.9711538461538463rem + 1.7948717948717947vw, 2.25rem);
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
}

.clear, .number, .operator, .dot, #equal {
    padding: 25% 0;
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    color: var(--darksienna);
}

.number, .dot, #equal {
    background-color: var(--numcolor);
}

.number:hover, .dot:hover, #equal:hover {
    background-color: var(--numhover);
}

.operator {
    background-color: var(--opcolor);
}

.operator:hover,
.depressed {
    background-color: var(--ophover);
}

.clear {
    background-color: var(--clearcolor);
}

.clear:hover {
    background-color: var(--clearhover);
}

#backspace{
    margin: 0;
    padding: 0;
}

@media (max-width:540px) {
    body {
        margin: 0;
        padding: 0;
    }
    #calc-wrapper {
        width: 60vw;
        grid-template-areas: 
            "clear display display display"
            "backspace backspace backspace backspace"
            "num7 num8 num9 op-dvs" 
            "num4 num5 num6 op-mult" 
            "num1 num2 num3 op-sub" 
            "num0 num-dot equal op-sum";
        grid-template-rows: 3fr 1fr 2fr 2fr 2fr 2fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width:360px) {
    #calc-wrapper {
        width: 80vw;
    }
}